<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="96fd2070-7b90-487c-8446-3afcd5ec79fd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="systemFlow" doc:id="15de6624-706e-4141-8c0b-2210d964c57f" >
		<http:listener doc:name="Listener" doc:id="d9df900c-b079-4d16-ac79-49a7c4363dde" config-ref="HTTP_Listener_config" path="/like"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="deb651f6-5659-4c64-8695-ce40f0934edf" />
		<logger level="INFO" doc:name="Logger" doc:id="ef7b86fc-f04a-407b-8afa-64aa01afffb9" />
	</flow>
</mule>
